body{
  background-color: rgb(89 177 211 / 83%);
}
.App{
  background-color: rgb(225 200 219 / 57%);
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  padding: 12px;
  box-shadow: 1px 1px 6px 2px #363232;

}
#to-do-list input{
  background-color: rgb(169 108 108 / 79%);
  border: 0;
  width: 220px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  color: white;
}
#to-do-list input::placeholder{
  color: rgb(255, 245, 245);
}
#to-do-list input:focus{
  outline: none;
}
#to-do-list button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color:  rgb(104 57 57 / 69%);
    color: aliceblue;
  cursor: pointer;
}
